
* {
	user-selectable: none;
}

input:focus {
	outline: none;
}

.mainContainer {
	display: flex;
	height: 700px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(117, 229, 159);
}

.loginForm {
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	align-items: center;
	width: 768px;
	padding-top: 30px;
	background-color: rgba(0, 0, 0, 0.5)
}

.loginTitle {
	color: white;
}

.phoneNumberInput {
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
	border-color: white;
	color: white;
	height: 50px;
	width: 70%;
	border-radius: 3px;
	margin-bottom: 5px;
	text-align: center;
}

.passwordInput {
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
	border-color: white;
	color: white;
	height: 50px;
	width: 70%;
	border-radius: 3px;
	margin-bottom: 20px;
	text-align: center;
}

.signInButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 5px;
}
.signInButton:active {
	opacity: 0.5;
}

.signInText {
	color: rgb(93, 191, 100);
	user-select: none;
}

.signUpButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70%;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 10px;
}
.signUpButton:active{
	opacity: 0.5;
}

.signUpText {
	color: rgb(93, 191, 100);
	user-select: none;
}

@media(max-width: 768px) {
	.loginForm {
		width: 90%;
	}
}
